<!DOCTYPE html>
<html lang="en">
<head>
    <title>ready resume</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- NAVBAR CREATION -->
   <header class="header">
    <nav class="navbar">
        <a href=" http://127.0.0.1:5000/index">Home</a>
        <a href=" http://127.0.0.1:5000/create">Create Summary </a>
        <a href="http://127.0.0.1:5000/login  ">login</a>
        <!-- <a href=" http://127.0.0.1:5000/check">Chek Summary </a> -->
    </nav>
    <form action="" class="search-bar">
       <input type="text" placeholder="Search...">
       <button><i class='bx bx-search'></i></button>
    </form>
   </header>
    <!-- LOGIN FORM CREATION -->
    <div class="background"></div>
    <div class="container">
        <div class="item">
            <h2 class="logo"><i class=''></i></h2>
            <div class="text-item">
                <h2>Welcome! <br><span>
                    to my first website
                </span></h2>
                <p>do not judge stritly as this is my first website.below you can scan mine social media</p>
                <div class="social-icon">
                    <a href=""><i class='bx bxl-github'></i></a>
                    <a href="https://t.me/arafattts"><i class='bx bxl-telegram'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                    <a href=""><i class='bx bxl-instagram'></i></a>
                    <a href="https://bekishovarafat@gmail.com"><i class='bx bxl-gmail'></i></a>
                </div>
            </div>
        </div>
       
     <!-- SIGN UP FORM CREATION -->

    <script src="/static/base.js"></script>
</body>

</html>